* {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

html, body {
  margin: 0;
  border: 0;
  padding: 0;
  background-color: #fff;
}

main {
  margin: auto 0;
  width: 98%;
  padding: 0px;
  text-align: center;
}

main > h1 {
  text-align: center;
  font-size: 3.5em;
}

.column {
  float: left;
  width: 33.33%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.middleColumn{
  background: rgba(8, 12, 9, 0.70);
  margin: auto;
  Padding: 20px;
  height:980px;
  text-align:center;
  width: 400px;
  display: block;
}


.mulish-Mtbeds {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.titleTop{
  color: #FFF;
  text-align: center;
  font-family: Mulish;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 7.5px;
}

.titleMain{
  color: var(--Mtbeds-Green, #B6DDBD);
  text-align: center;
  font-family: "Ivy Mode";
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.titleMiddle{
  color: #FFF;
  text-align: center;
  font-family: Mulish;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 7.5px;
  height:400px;
  padding-top:200px;
}

.wrapper{
  width:100%;
  margin: auto;
  position: absolute;
}

.image-container {
  position: relative;

  
  img {
    position: absolute;
    height: 1024px;

    animation-name: multiple-image-crossfade;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 28s;
    &:nth-of-type(1) {
      animation-delay: 24s;
    }
    &:nth-of-type(2) {
      animation-delay: 20s;
    }
    &:nth-of-type(3) {
      animation-delay: 16s;
    }
    &:nth-of-type(4) {
      animation-delay: 12s;
    }
    &:nth-of-type(5) {
      animation-delay: 8s;
    }
    &:nth-of-type(6) {
      animation-delay: 4s;
    }
    &:nth-of-type(7) {
      animation-delay: 0;
    }
  }
}

@keyframes multiple-image-crossfade {
  0% {
    opacity:1;
  }
  17% {
    opacity:1;
  }
  25% {
    opacity:0;
  }
  92% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
