* {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'ivy_modesemibold';
  src: url('ivymode-semibold-webfont.woff2') format('woff2'),
       url('ivymode-semibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

html, body {
  margin: 0;
  border: 0;
  padding: 0;
  background-color: #fff;
}


.middleColumn{
  background: rgba(8, 12, 9, 0.70);
  Padding: 30px;
  text-align:center;
  display: block;

}


.mulish-Mtbeds {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.titleTop{
  color: #FFF;
  text-align: center;
  font-family: Mulish;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 7.5px;
}

.titleMain{
  color: var(--Mtbeds-Green, #B6DDBD);
  text-align: center;
  font-family: 'ivy_modesemibold';
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.titleMiddle{
  color: #FFF;
  text-align: center;
  font-family: Mulish;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 7.5px;
  padding-top:200px;
}

.image-container {
  position: relative;
  
  img {
    position: absolute;

    animation-name: multiple-image-crossfade;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 28s;
    &:nth-of-type(1) {
      animation-delay: 24s;
    }
    &:nth-of-type(2) {
      animation-delay: 20s;
    }
    &:nth-of-type(3) {
      animation-delay: 16s;
    }
    &:nth-of-type(4) {
      animation-delay: 12s;
    }
    &:nth-of-type(5) {
      animation-delay: 8s;
    }
    &:nth-of-type(6) {
      animation-delay: 4s;
    }
    &:nth-of-type(7) {
      animation-delay: 0;
    }
  }
}

@keyframes multiple-image-crossfade {
  0% {
    opacity:1;
  }
  17% {
    opacity:1;
  }
  25% {
    opacity:0;
  }
  92% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
