* {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

html, body {
  margin: 0;
  border: 0;
  padding: 0;
  background-color: #fff;
}

main {
  margin: auto;
  width: 50%;
  padding: 0px;
}

main > h1 {
  text-align: center;
  font-size: 3.5em;
}

.column {
  float: left;
  width: 33.33%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.middleColumn{
  background: rgba(8, 12, 9, 0.70);
}


.mulish-Mtbeds {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.titleTop{
  color: #FFF;
  text-align: center;
  font-family: Mulish;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 7.5px;
}

.titleMain{
  color: var(--Mtbeds-Green, #B6DDBD);
  text-align: center;
  font-family: "Ivy Mode";
  font-size: 70px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}